.heading {
  text-align: center;
  padding: 5rem 0;
}

.heading h1 {
  color: #0b5ed7;
  font-weight: 700;
}

.heading h1 span {
  color: orange;
}

.container {
  background-color: #4461e414;
  box-shadow: inset 0px -2px 5px #e5e5e529;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}
